body{
  background-image: url(images/matrix.jpg);
  color: white;
}

.textField{
  height: 500px;
  width: 400px;
  background-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
}

.textField:hover{
  border: groove;
}

.mainContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer{
  position: absolute;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainFigure{
  display: flex;
  flex-direction: column;
  align-items: center;
}
